body {
  background-color: rgb(6, 6, 82);
  color: white;
  margin: 0 auto;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  max-width: 960px;
}

a {
  color: white;
}

td,
th {
  border: 1px solid #fff;
  padding: 0.5rem;
}

header {
  background-color: rgb(8, 8, 109);
  color: grey;
  display: flex;
  justify-content: space-between;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

h1,
h2,
h3 {
  text-align: center;
  margin-left: 100px;
  margin-right: 50px;
  color: whitesmoke;
}
#logo img {
  max-width: 200px;
  max-height: 70px;
  position: relative;
  display: flex;
}
.navBar {
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav-items {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

li {
  display: inline-block;
  margin: 30px;
  margin-right: 20px;
  padding: 20px;
  text-decoration: none;
  color: #555;
  font-weight: 600;
  font-size: 16px;
  align-items: center;
}

/* The hero image */
.hero-image {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

img:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  margin-top: 30px;
}

article p {
  text-align: justify;
  font-size: 3rems;
  justify-content: center;
  margin-top: 30px;
}

#row-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#row-1 img {
  width: 250px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

#row-2 img {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

#row-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
}
.container {
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
  flex-direction: column;
  max-width: 480px;
  font-size: 3rems;
  overflow-y: scroll;
}

.container h2 {
  text-align: justify;
  font-size: 1rem;
  color: white;
}

.button {
  border-radius: 40px;
  background-color: #d9d9d9;
  border: none;
  color: #000;
  text-align: center;
  font-size: 16px;
  padding: 20px;
  width: 200px;
  transition-duration: 0.35s;
  cursor: pointer;
  margin: 5px;
}

.button:hover {
  background-color: aqua;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 350ms;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

h4 p {
  color: #fff;
  font-weight: normal;
  justify-content: space-between;
  align-items: center;
}

.footer {
  display: inline-block;
  margin-top: 30px;
  justify-content: space-between;
  width: 960px;
  background-color: rgb(8, 8, 109);
  color: rgba(244, 231, 231, 0.605);
  text-align: justify;
  min-height: 200px;
}
